<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">
</head>
<style>
    body {
        width: 100%;
        height: 98%;
        font-family: Arial, Helvetica, sans-serif;
    }

    .wr {
        width: 80%;
        height: 90%;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .top-bar {
        background-color: #F44E00;
        height: 18px;
        width: 100%;
        margin: 0 auto 20px;
    }

    .top-wr {
        width: 90%;
        height: auto;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .company-name {
        font-size: 16px;
        margin-top: 10px;
    }

    .adress {
        width: 150px;
        font-size: 10px;
        line-height: 16px;
        margin-top: 5px;
        float: left;
    }

    .contact {
        font-size: 10px;
        line-height: 16px;
        margin-top: 5px;
        float: left;
        margin-left: 20px;
    }

    .logo {
        width: 120px;
        height: 120px;
        font-size: 40px;
        position: absolute;
        top: 15px;
        right: 40px;
        font-weight: 700;
    }

    .logo p {
        font-family: 'Courgette';
        margin: 0 !important;
        color: #F44E00;
    }

    img {
        width: 120px;
        height: 120px;

    }

    .billed-to {
        position: relative;
        font-size: 10px;
        line-height: 12px;
        margin-top: 85px;
        color: #777
    }

    .billed-to p {
        font-size: 12px;
        margin: 0 !important;
    }

    span {
        color: #000 !important;
    }

    li {
        list-style: none;
        display: inline-block;
    }

    .name-bar li {
        color: #fff;
        font-size: 8px;
        line-height: 15px;
    }

    ul {
        height: 18px;
        width: 100%;

        padding: 0 !important;
    }

    .invoice {
        width: 20%;
        float: left;
    }

    .invoice div {
        color: #777;
        font-size: 10px;
        margin-bottom: 20px;
    }

    .invoice h1 {
        color: #777;
        font-weight: 300;
        margin-top: 50px;
        font-size: 24px;
    }

    .main-content {
        width: 90%;
        height: auto;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .table {
        width: 75%;
        position: relative;
        float: right;
        margin-top: 45px;
    }

    .align-left {
        align-self: left;
        padding-left: 3px;
    }

    .align-right {
        align-self: right;
        justify-self: right;
        padding-right: 3px;
    }

    .align-right-vat {
        align-self: right;
        justify-self: right;
        padding-right: 20px;
    }

    .align-right-cis {
        align-self: right;
        justify-self: right;
        padding-right: 15px;
    }

    .align-center {
        justify-self: center;
    }

    .name-bar {
        display: grid;
        grid-template-columns: 30% 13% 13% 16% 13% 15%;
        background-color: #F44E00;
        margin-bottom: 5px !important;
    }

    .grey {
        width: 100%;
        height: 5px;
        background-color: #ddd;
    }

    .table-row {
        display: grid;
        grid-template-columns: 30% 13% 13% 16% 13% 15%;
        color: #000;
        background: #ddd;
        margin: 0 !important;
    }

    .table-row li {
        font-size: 8px;
    }

    .footer {
        width: 100%;
        height: 80px;
        background-color: #F44E00;
        position: absolute;
        bottom: 0;
        color: #fff;
        font-size: 10px;
        line-height: 16px;
        box-sizing: border-box;
        padding: 10px 0 0 30px;
    }

    .footer-2 {
        width: 80%;
        height: 80px;
        background-color: #F44E00;
        position: absolute;
        top: 188%;
        color: #fff;
        font-size: 10px;
        line-height: 16px;
        box-sizing: border-box;
        padding: 10px 0 0 30px;
        left: 50%;
        transform: translateX(-50%);
    }

    .footer-3 {
        width: 80%;
        height: 80px;
        background-color: #F44E00;
        position: absolute;
        top: 288%;
        color: #fff;
        font-size: 10px;
        line-height: 16px;
        box-sizing: border-box;
        padding: 10px 0 0 30px;
        left: 50%;
        transform: translateX(-50%);
    }

    .cis-row {
        display: grid;
        grid-template-columns: 80% 20%;
        color: #000;
        background: #ddd;
        margin: 0 !important;
    }

    .cis-row li {
        font-size: 10px;
    }

    .summaty li {
        color: #777;
    }

    .terms {
        font-size: 12px;
        color: #777;
        width: 75%;
        float: right;
        margin-top: 50px;
    }

    .terms p {
        color: #f00;
        margin: 0;
        width: 100%;
    }

    .summary {
        height: 80px;
        width: 40%;
        font-size: 10px;
        float: right;
        margin-top: 15px;
        box-sizing: border-box;
        padding-right: 2px;
    }

    .summary ul {
        margin: 1px 0 !important;
    }

    .float-right {
        float: right;
        padding-right: 15px;
    }

    .float-left {
        float: left;
        color: #777 !important;
        padding-right: 15px;
    }

    .invoice-total {
        text-align: right;
        color: #777;
        margin-top: 10px;
        padding-right: 15px;
    }

    .invoice-total p {
        color: #383838;
        font-size: 26px;
        margin: 0;
        float: right;
    }

    .separator {
        width: 100%;
        height: 250px;
        background-color: inherit;
    }

    .comp-name {
        font-weight: bold;
        font-size: 13px;
    }
</style>

<body>
    <div class="wr">
        <div class="top-bar"></div>
        <div class="top-wr">
            <div class="company-name">WORK RULES LTD</div>
            <div class="adress">11 Redhills Road,<br /> South Woodham Ferrers, <br /> Chelmsford, Essex, CM3 5UL</div>
            <div class="contact">+447366969175<br />
                office@workrules.co.uk<br />
                VAT: 345308410</div>
            <div class="billed-to">
                <p>BILLED TO</p> <br /><span class='comp-name'>{{ [0].Company }}</span><br />
                <span>
                    {{ [0].[Address1] }}<br />
                    {{ [0].[Address2] }}<br />
                    {{ [0].city }}<br />
                    {{ [0].zipCode }}
                </span>
            </div>
            <div class="logo">
                <div class="logo">
                    <img src="https://workrules.co.uk/meida/Asset%201@1.5x.png" alt="">
                </div>
            </div>
        </div>

        <div class="main-content">
            <div class="invoice">
                <h1>Invoice</h1>
                <div class="invoice-nr">INVOICE NUMBER<br />
                    <span>{{ [0].[INVOICE_NUMBER] }}</span>
                </div>
                <div class="date-of-issue">DATE OF ISSUE<br />
                    <span>{{ [0].[issueDate] }}</span>
                </div>
                <div class="week-ending">Week Ending<br />
                    <span>{{ [0].[Week_Ending] }}</span>
                </div>
                <div class="site-adress">Site Address<br />
                    <span>{{ [0].siteAddress.add1 }}</span><br />
                    <span>{{ [0].siteAddress.add2 }}</span><br />
                    <span>{{ [0].siteAddress.city }}</span><br />
                    <span>{{ [0].siteAddress.zipCode }}</span>
                </div>
                <div class="account-reference">Account Reference<br />
                    <span>{{ [0].[Account_Reference] }}</span>
                </div>
            </div>

            <div class="table">
                <ul class="name-bar">
                    <li class="align-left">Worker</li>
                    <li class="align-center">Worked Hours</li>
                    <li class="align-right">Unit Cost</li>
                    <li class="align-right">Net Amount</li>
                    <li class="align-right">CIS</li>
                    <li class="align-right-cis">VAT</li>
                </ul>
                <div class="table-wr">
                    <div class="grey"></div>
                    {{#each [] as |data| }}
                    <ul class="table-row">
                        <li class="align-left">{{data.Worker}}</li>
                        <li class="align-center">{{data.[WorkedHours]}}</li>
                        <li class="align-right"> £{{data.[UnitCost]}} </li>
                        <li class="align-right"> £{{data.[NetAmount]}} </li>
                        <li class="align-right"> £{{data.CIS}} </li>
                        <li class="align-right-cis"> £{{data.VAT}} </li>
                    </ul>
                    {{#checkIndex @index }}

                    {{/checkIndex}}

                    {{/each}}
                    <ul class="cis-row">
                        <li class="align-left">CIS WE {{[0].[Week_Ending]}}</li>
                        <li class="align-right-cis">£{{[0].totalTaxAmount}}</li>
                    </ul>
                </div>
            </div>
            <div class="summary">
                <ul>
                    <li class="float-left"> Total Net Amount </li>
                    <li class="float-right"> £{{[0].totalNetAmount}} </li>
                </ul>
                <ul>
                    <li class="float-left"> Carriage Net </li>
                    <li class="float-right">£0.00</li>
                </ul>
                <ul>
                    <li class="float-left"> VAT </li>
                    <li class="float-right"> 20% </li>
                </ul>
                <ul>
                    <li class="float-left"> Total Tax Amount </li>
                    <li class="float-right"> £{{[0].totalTaxAmount}} </li>
                </ul>
                <div class='invoice-total'>INVOICE TOTAL<br />
                    <p>£{{[0].totalNetAmount}}</p>
                </div>
            </div>
            <div class="terms">TERMS<br />
                <p>Invoice to be paid before {{[0].dueDate}} </p>
            </div>
        </div>


        <div class="footer">
            BANK REVOLUT<br />
            Account Holder WORK RULES LTD<br />
            Account Number: 34 53 21 96<br />
            Sort Code: 04-00-75<br />
        </div>

    </div>
    {{#addFooter }}
    {{/addFooter}}
    {{#scndFooter}}
    {{/scndFooter}}
</body>

</html>